
{% extends 'index/base.html' %}
{% load static %}
{% block content %}

<style>
    body{
        position:relative;
        background-color: #f2f2f2;
        font-family: 'Poppins', sans-serif;;

        }
    * {
        font-family:Georgia, 'Times New Roman', Times, serif;
        box-sizing: border-box;
       

        
    }
    .card p {
        font-size: 16px;
        font-weight: bold;
        color: #6d6d6d;
    }
    .card a {
        font-size: 16px;
        font-weight: bold;
        color: #6d6d6d;
        text-decoration: none;
    }
    .card a:hover {
        color:#142023;
    }

    .card p a {
        color: #000000;
        text-decoration: none;
        transition: 0.2s;
    }

    .card p a:hover {
        color:  #142023;
    }
    

    .card{
        background-color: #ffffff85;
        
       border-radius: 20px;
    }

    .card:nth-child(1) {
        border-bottom-right-radius: 20px;
    }

    .card:nth-child(2) {
        border-bottom-left-radius: 20px;
    }

    
    input{
        border-radius: 20px;
    }


</style>

<section class="section-content padding-y" style="min-height:84vh; padding-top:100px;">


    <div class="card mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <div id="head" style="text-align: center;"><h4 class="card-title mt-1 text-light">Reset Password</h4></div>
            {% if messages %}
            {% for message in messages %}
                <div id = "message" class="container">
                <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden = "true">&times;</span></button>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
                {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    
    <form action = "{% url 'resetPassword' %}" method = 'POST'>
      {% csrf_token %}
      <div class="row ">
        <div class="col-sm-12" style="text-align: center;">
          <img src="{% static 'images\logo\nataliya logo base.png'%}" class="w-25" alt="">
        </div>
      </div> 
      <div class="row">
        <div class="col-sm-12 mt-4" style="text-align: center;">
          <h4 style="color: #042454;">Reset Password</h4>
        </div>
      </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Create Password" name='password'>
        </div> <!-- form-group// -->
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password" name='confirm_password'>
        </div> <!-- form-group// -->
     
        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block" style="background-color: #042454;" > Reset  </button>
        </div> <!-- form-group// -->    
    </form>
    <p class="text-center mt-4">Don't have account? <a href="{% url 'user_registration' %}">Sign up</a></p>

    </div> <!-- card-body.// -->
  </div> <!-- card .// -->

   <br><br>

    
    
</section>

{% endblock %}