{% extends 'user/base_user.html' %}
{% load static %}

{% block content %}
<!-- Rajdhani -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200&family=Poppins:ital,wght@0,200;1,600&family=Rajdhani:wght@500&display=swap" rel="stylesheet">


<!-- now font style -->
<div class="row" style="margin-top: 8rem;">
    <div class="col-sm-12" style="text-align: right;">
        <a href="{% url 'create_event'%}"><div class="btn mr-2" style=" border: none; color: white; background-color: #622E92;"> Add An Event</div></a>
    </div>  
</div>
{% endblock %}