{% extends 'user/base_user.html' %}
{% load embed_video_tags %}
{% load static %}

{% block content %}

<!-- Rajdhani -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200&family=Poppins:ital,wght@0,200;1,600&family=Rajdhani:wght@500&display=swap" rel="stylesheet">

<style>

#cover_image{
    height: 35rem;
}
h2{
    padding-top: 15rem;
}
</style>

<!-- now font style -->
<div class="row" style="margin-top: 8rem;" id="cover_image">
    <div class="col-sm-12"  style="background-image: url('{{evn.cover_image.url}}'); background-position: center; background-size: cover; background-repeat: no-repeat; text-align: center;">
            <h2 style="color: white; font-size: 48px; font-weight: bold;">{{evn.event_title}}</h2>
    </div>  
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Images</h3>
    </div>
</div>

<div class="row mt-3">
    {%for l in img %}
    <div class="col-sm-3" style="background-image: url('{{l.image.url}}'); background-position: center; background-size: cover; background-repeat: no-repeat;" >
                        
        <div class="row" id="text_row" style="height: 15rem;">
            <div class="col-sm-12">
       
            </div>
        </div>
    </div>
    {%endfor%}
    
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Images</h3>
    </div>
</div>

<div class="row mt-3">
    {%for l in lnk %}
    <div class="col-sm-3" style="background-image: url('{{l.image.url}}'); background-position: center; background-size: cover; background-repeat: no-repeat;" >
                        
        <div  class="col-md-8 offset-md-2">
            <h1>{{ Tut.tutorial_Title }}</h1>
            <p>{{ Tut.tutorial_Body | linebreaks }}</p>
            <h3>Here is the video:</h3>
    
            {% video l.empeded_link  'tiny' %}
    
        </div>
   
       
            
    </div>
    {%endfor%}
    



{% endblock %}